.form-card {
  margin: 2em;
  margin-top: 5em;
  display: flex;
  .card-title {
    font-size: 25px;
    margin-bottom: 1em;
  }
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-card {
  width: 25em;
  margin-right: 2em;
}

textarea {
  height: 20em;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: rgb(53, 53, 53);
}