table {
  width: 100%;
}

.export-filter-area {
  display: flex;

  .filter-area {
    margin-left: 14px;
    padding-top: 8px;
    .mat-form-field {
      width: 50em;
    }
  }
}

.table-container {
  margin: 3em;
  margin-top: 1em;
}

.id {
  width: 5em;
}

.table-checbox {
  width: 5em;
}

.export-btn {
  margin-bottom: 12px;
  margin-top: 12px;
  color: white;
  background-color: black;
}
.detail-btn {
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 5px;
}

.delete-btn {
  color: red;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 10px;
}
